{
  "extends": "@remotion",
  "ignorePatterns": ["node_modules", "*.d.ts"],
  "rules": {
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "object-curly-spacing": ["error", "always"]
  }
}
